body{
    margin: 0%;
}

.navbar{
    background-color: blueviolet;
    color: white;
    padding: 20px;
}
li{
    display: inline-block;
    padding-right: 5vw;
}
.banner{
    background-image: url(img/OIP.jfif);
height: 600px;
}

.content{padding: 50px;}

.galeria{
    padding: 50px;
}

.galeria img{
    height: 250px;
}



.footer{
    background-color: gray;
    color: white;
    padding: 50px;
} 


@media only screen and (max-width: 700px) {
    body{
        font-size: 30px
    }
    .navbar{
        text-align: center;
    }
    
.content{padding: 10px;}

.galeria{
    padding: 10px;
    
}

.galeria img{
    width: 100%;
    height: auto;
} 
}